.users-container {
  padding: 30px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.users-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.users-table th,
.users-table td {
  padding: 12px 20px;
  border: 1px solid #ddd;
  text-align: center;
}

.users-table th {
  background-color: #007bff;
  color: white;
}

.users-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.users-table tr:hover {
  background-color: #f1f1f1;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}


.users-table th:nth-child(3),
.users-table td:nth-child(3) {
  width: 200px;  /* Ajuste selon la largeur souhaitée */
}
.users-table select {
  min-width: 140px; /* largeur minimum pour voir tout le texte */
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.users-table button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.users-table button:hover {
  background-color: #f0f0f0;
}

.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logout-button {
  background-color: #f44336; /* rouge */
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f;
}


/* Style de l'input de recherche */
.search-wrapper {
  position: relative;
  width: 300px;
  margin: 20px auto;
}

.filter-input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* padding-right pour faire de la place à l'icône */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* pour que l'icône ne bloque pas le clic dans l'input */
  color: #888;
  font-size: 18px;
}
